name: example
description: A sample project using FlutterGen.

publish_to: 'none'

version: 1.0.0+2

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_svg: 2.0.5
  flare_flutter: 3.0.2
  rive: ^0.10.4
  lottie: ^2.3.2

  # Dependency check
  collection: ^1.17.1
  crypto: ^3.0.3
  glob: ^2.1.1

  # firebase_analytics: 9.1.8
  # firebase_core: 1.14.1
  # firebase_auth: 3.3.18
  # firebase_remote_config: 2.0.7
  # firebase_dynamic_links: 4.1.3
  # firebase_performance: 0.8.0+7
  # firebase_messaging: 11.2.13
  # firebase_app_installations: 0.1.0+8
  # is_firebase_test_lab_activated: 2.0.0
  sentry_flutter: ^7.5.2
  sentry_dio: ^7.5.2
  adjust_sdk: ^4.33.1
  google_sign_in: ^6.1.0
  twitter_login: ^4.3.2
  flutter_facebook_auth: ^5.0.11
  sign_in_with_apple: ^4.3.0
  local_auth: ^2.1.6
  flutter_hooks: ^0.18.6
  hooks_riverpod: ^2.3.6
  dio: ^5.1.2
  connectivity_plus: ^4.0.0
  ua_client_hints: ^1.1.3
  retrofit: ^4.0.1
  uuid: ^3.0.7
  http_parser: ^4.0.2
  protobuf: ^2.1.0
  json_annotation: ^4.8.1
  freezed_annotation: ^2.2.0
  intl: ^0.18.1
  fixnum: ^1.1.0
  shared_preferences: ^2.1.1
  flutter_secure_storage: ^8.0.0
  auto_route: ^7.1.0
  gap: ^3.0.0
  flutter_layout_grid: ^2.0.3
  video_player: ^2.6.1
  # audio_service: 0.18.4
  cached_network_image: ^3.2.3
  flutter_cache_manager: 3.3.0
  visibility_detector: ^0.4.0+2
  sliver_tools: ^0.2.10
  dotted_border: ^2.0.0+3
  scrollable_positioned_list: ^0.3.8
  sticky_headers: ^0.3.0+2
  infinite_listview: 1.1.0
  built_collection: 5.1.1
  dartx: 1.1.0
  rxdart: ^0.27.7
  flutter_inappwebview: ^5.7.2+3
  webview_flutter: ^4.2.0
  uni_links: 0.5.1
  url_launcher: ^6.1.11
  package_info_plus: ^3.1.2
  native_device_orientation: ^1.1.4
  wakelock: ^0.6.2
  device_info_plus: ^8.2.2
  playbook: ^0.0.4
  image_picker: ^0.8.7+5
  flutter_image_compress: ^2.0.3
  image_editor: ^1.3.0
  permission_handler: ^10.2.0
  camera: ^0.10.5
  flutter_local_notifications: ^14.0.0+2
  logger: ^1.3.0
  geolocator: ^9.0.2
  geocoding: ^2.1.0
  android_intent_plus: ^4.0.0
  share_plus: ^6.3.4
  # stack_trace: 1.10.0
  in_app_review: ^2.0.6
  pull_to_refresh: 2.0.0
  xml: ^6.3.0

  example_resources:
    path: ../example_resources

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  build_runner: ^2.1.11
  freezed: ^2.3.2
  json_serializable: ^6.6.2
  flutter_gen_runner:
    git:
      url: https://github.com/rinlv/flutter_gen.git
      ref: easy_localization
      path: packages/runner

  flutter_lints: ^2.0.1

flutter_gen:
  output: lib/gen/ # Optional (default: lib/gen/)
  line_length: 80 # Optional (default: 80)

  integrations:
    flutter_svg: true
    flare_flutter: true
    rive: true
    lottie: true

  assets:
    enabled: true

    outputs:
      class_name: MyAssets
      package_parameter_enabled: false
      # Assets.imagesChip
      # style: camel-case

      # Assets.images_chip
      # style: snake-case

      # Assets.images.chip (default style)
      style: dot-delimiter

    exclude:
      - assets/images/chip3/chip3.jpg
      - pictures/chip5.jpg
      - assets/flare/

  fonts:
    enabled: true
    outputs:
      class_name: MyFontFamily

  colors:
    enabled: true
    outputs:
      class_name: MyColorName
    inputs:
      - assets/color/colors.xml
      - assets/color/colors2.xml
      - assets/color/colors2.xml # duplicated

  localization:
    enabled: true
    sheet_id: '1v2Y3e0Uvn0JTwHvsduNT70u7Fy9TG43DIcZYJxPu1ZA'

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/images/chip3/chip3.jpg
    - assets/images/chip3/chip3.jpg # duplicated
    - assets/images/chip4/
    - assets/images/icons/fuchsia.svg
    - assets/images/icons/kmm.svg
    - assets/images/icons/paint.svg
    - assets/images/icons/dart@test.svg
    - assets/json/
    - pictures/chip5.jpg
    - assets/flare/
    - assets/rive/
    - assets/lottie/
    - assets/lottie/wrong/
    - assets/movie/
    - assets/unknown/
    - assets/mix/
  fonts:
    - family: Raleway
      fonts:
        - asset: assets/fonts/Raleway-Regular.ttf
        - asset: assets/fonts/Raleway-Italic.ttf
          style: italic
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700

    # duplicated
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700
